<!DOCTYPE html>
<html>
<head>
  <title>GrabFood</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Philosopher' rel='stylesheet' type='text/css'>

  <script>

      $(window).scroll(function() {
          if($(window).scrollTop() > 100){
              $("#topNavbar").removeClass("navbar-default").addClass('navbar-fixed-top');
              $('#navbarwow').addClass("marginleft");
              $('#signIn').addClass("marginright");
              $("#back-to-top").show();
          }else{
              $("#topNavbar").removeClass("navbar-fixed-top").addClass('navbar-default');
              $('#navbarwow').removeClass("marginleft");
              $('#signIn').removeClass("marginright");
              $("#back-to-top").hide();
          }

      });
  </script>
</head>
<body>
    <%=render 'layouts/navbar'%>
    <%= yield %>
</body>
</html>
